# From Turso. Can use file:*.db for local development.
DATABASE_URL="file:local.db"
DATABASE_AUTH_TOKEN=""

# From any S3-compatible provider (e.g. B2 Backblaze)
S3_APPLICATION_KEY=""
S3_APPLICATION_KEY_ID=""
S3_BUCKET_NAME=""